@use 'base/bootstrap';
@use 'components/mainNav';
@use 'components/form';
@use 'components/footer';
@use 'components/header';
@use 'components/post-preview';

.section-heading {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 3.75rem;
}

.caption {
  font-size: 0.875rem;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 0.625rem;
  text-align: center;
}
